{% extends "base.html" %}
        {% block content %}
            <article>
{% include "social.html" %}
                <h2>programação</h2>

                <div class=tabela>
<table summary="Meeting Results" id="gradient-style">
<!--    <thead>
        <tr>
            <th scope="col" colspan="3">AndroidConf 2011</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">Give background color to the table cells to achieve seamless transition</td>
        </tr>
    </tfoot> -->
    <tbody>
        <tr class="heading">
            <td>08:00 - 09:00</td>
            <td colspan="2">Coffee break & Credenciamento</td>
        </tr>
        <tr class="heading">
            <td>09:00 - 09:15</td>
            <td colspan="2">Abertura</td>
        </tr>
        <tr class="keynote">
            <td>09:15 - 10:00</td>
            <td colspan="2">Keynote 1</td>
        </tr>
        <tr class="keynote">
            <td>10:15 - 11:00</td>
            <td colspan="2">Keynote 2</td>
        </tr>
        <tr>
            <td>11:15 - 13:00</td>
            <td>Palestras selecionadas (*) </td>
            <td>(4 com 25 minutos cada)</td>
        </tr>
        <tr class="heading">
            <td>13:15 - 14:30</td>
            <td colspan="2">Almoço</td>
        </tr>
        <tr>
            <td>14:30 - 16:15</td>
            <td>Palestras selecionadas (*) </td>
            <td>(4 com 25 minutos cada)</td>
        </tr>
        <tr>
            <td>16:30 - 17:00</td>
            <td>Lightning Talks</td>
            <td>(5 com 5 minutos cada)</td>
        </tr>
        <tr class="keynote">
            <td>17:00 - 18:00</td>
            <td colspan="2">Keynote 3</td>
        </tr>
        <tr class="heading">
            <td class="time">18:00 - 18:15</td>
            <td colspan="2">Encerramento</td>
        </tr>
    </tbody>
</table>
<ul>
<li> Algumas palestras serão selecionadas pela comunidade com o <a href="http://call4paperz.com/events/androidconf-2011">call4papers</a></li>
<li> Palestrantes não estão isentos da taxa de inscrição </li>
</ul>

</div>
<div class="anuncios">
    <a class="btn-sponsor" href="http://call4paperz.com/events/androidconf-2011">
<span>Vote ou proponha <b>uma palestra!</b></span>
</a>
</div>
            </article>
        {% endblock content %}




