{% extends "base.html" %}
        {% block content %}
            <article>
{% include "social.html" %}
                <h2>programação</h2>

                <div class=tabela>
<table summary="Agenda AndroidConf 2011" id="gradient-style">
    <tbody>
        <tr class="heading">
            <td>08:00 - 09:00</td>
            <td colspan="2">Coffee break & Credenciamento</td>
        </tr>
        <tr class="heading">
            <td>09:00 - 09:15</td>
            <td colspan="2">Abertura</td>
        </tr>
        <tr class="keynote">
            <td>09:15 - 10:00</td>
            <td colspan="1">Bruno Oliveira (Google)</td>
            <td colspan="1">Ice Cream Sandwich</td>
        </tr>
        <tr>
            <td>10:15 - 10:40</td>
            <td colspan="1">Daniel Passos (Caelum)</td>
            <td colspan="1">Arquitetura Android</td>
        </tr>
        <tr>
            <td>10:45 - 11:10</td>
            <td colspan="1">Andrews Medina (Globo.com)</td>
            <td colspan="1">Desenvolvendo jogos para Android</td>
        </tr>
        <tr>
            <td>11:15 - 11:40</td>
            <td colspan="1">Lucas De Marchi (ProFusion)</td>
            <td colspan="1">Modificando a API do Android</td>
        </tr>
        <tr class="keynote">
            <td>11:45 - 12:30</td>
            <td colspan="1">Mark Allison (Deutsche Telekom)</td>
            <td colspan="1">Applying styles and themes to Android apps</td>
        </tr>
        <tr class="heading">
            <td>12:30 - 13:30</td>
            <td colspan="2">Almoço</td>
        </tr>
        <tr class="keynote">
            <td>13:30 - 14:15</td>
            <td colspan="1">Ricardo Lecheta (CITS)</td>
            <td colspan="1">Hands on Android</td>
        </tr>
        <tr>
            <td>14:20 - 14:45</td>
            <td colspan="1">André Silva (Gonow)</td>
            <td colspan="1">Um único apk para Tablets e Smartphones</td>
        </tr>
        <tr>
            <td>14:50 - 15:15</td>
            <td colspan="1">Aberto</td>
            <td colspan="1">Aberto</td>
        </tr>
        <tr>
            <td>15:30 - 16:00</td>
            <td>Lightning Talks</td>
            <td>(5 com 5 minutos cada)</td>
        </tr>
        <tr>
            <td>16:15 - 16:40</td>
            <td colspan="1">Álvaro Justen (CursoDeArduino)</td>
            <td colspan="1">Automação residencial com Android e Arduino</td>
        </tr>
        <tr>
            <td>16:45 - 17:10</td>
            <td colspan="1">Neto Marin (INdT)</td>
            <td colspan="1">Integrando sua aplicações com redes sociais</td>
        </tr>
        <tr class="keynote">
            <td>17:15 - 18:15</td>
            <td colspan="1">Michael Burton (Groupon)</td>
            <td colspan="1">RoboGuice</td>
        </tr>
        <tr class="heading">
            <td class="time">18:15 - 18:30</td>
            <td colspan="2">Encerramento</td>
        </tr>
    </tbody>
</table>

</div>
            </article>
        {% endblock content %}




