<!DOCTYPE HTML>

<html lang="pt">
    <head>
        <title>AndroidConf Brasil 2011</title>
        <meta charset="utf-8" />
        <link href="{{ STATIC_URL }}img/androidconf_favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/android-conf.css" type="text/css" media="screen" />
    </head>
    <body>
{% include "header.html" %}
        <div class=content>
	    {% block content %}
	    <article>
		<!-- Main content area -->
	    </article>
	    {% endblock content %}
	    <aside>
{% include "sidebar.html" %} 
	    </aside>
        </div>
        <footer>
{% include "footer.html" %} 
        </footer>
    </body>
</html>
