            <div id="menu-outer" class="block">
                <div class="table">
                    <ul id="horizontal-list">
                        <li class="person first">
                            <p>patrocínio</p>
                            <ul>
                                <li class="sponsor first-item">
                                    <a href="http://globo.com"><img src="{{ STATIC_URL }}img/sponsors/logo-globocom.png" alt="Globo.com patrocina AndroidConf" /></a>
                                    <a href="http://www.superfones.com.br"><img src="{{ STATIC_URL }}img/sponsors/logo-superfones.png" alt="Superfones patrocina AndroidConf" /></a>
                                    <a href="http://www.profusion.mobi"><img src="{{ STATIC_URL }}img/sponsors/logo-profusion.png" alt="Profusion patrocina AndroidConf" /></a>
                                    <a href="http://www.mobits.com.br"><img src="{{ STATIC_URL }}img/sponsors/logo-mobits.png" alt="Mobits patrocina AndroidConf" /></a>

                                </li>
                                <li class="sponsor">
                                    <a href="http://caelum.com.br"><img src="{{ STATIC_URL }}img/sponsors/logo-caelum.png" alt="Caelum patrocina AndroidConf" /></a>
                                    <a href="http://www.riacycle.com.br"><img src="{{ STATIC_URL }}img/sponsors/logo-riacycle.png" alt="RIACycle patrocina AndroidConf" /></a>
                                    <a href="http://www.innvent.com.br"><img src="{{ STATIC_URL }}img/sponsors/logo-innvent.png" alt="Innvent patrocina AndroidConf" /></a>
                                    <a href="http://www.globalcode.com.br"><img src="{{ STATIC_URL }}img/sponsors/logo-globalcode.png" alt="GlobalCode patrocina AndroidConf" /></a>
                                </li>
                                <li class="sponsor caelum">
                                    <a href="http://www.gonow.com.br"><img src="{{ STATIC_URL }}img/sponsors/logo-gonow.png" alt="Gonow patrocina AndroidConf" /></a>
                                    <a href="http://www.livetouch.com.br"><img src="{{ STATIC_URL }}img/sponsors/logo-livetouch.png" alt="Livetouch patrocina AndroidConf" /></a>
                                    <a href="http://www.treinamentos.mobi"><img src="{{ STATIC_URL }}img/sponsors/logo-treinamentosmobi.png" alt="Treinamentos.mobi patrocina AndroidConf" /></a>

                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li class="sponsor">
                                    <p>apoio</p>
                                    <a class="cicero" href="http://www.ciceromoraes.com.br"><img src="{{ STATIC_URL }}img/sponsors/logo-ciceromoraes.png" alt="Cícero Moraes apoia AndroidConf" /></a>
                                    <a href="http://www.oreilly.com"><img src="{{ STATIC_URL }}img/sponsors/logo-oreilly.png" alt="O'Reilly apoia AndroidConf" /></a>
                                    <a href="http://www.motorola.com.br"><img src="{{ STATIC_URL }}img/sponsors/logo-motorola.png" alt="Motorola apoia AndroidConf" /></a>
                                </li>
                                <li class="sponsor euandroid" >
                                    <a href="http://www.euandroid.com.br"><img src="{{ STATIC_URL }}img/sponsors/logo-euandroid.png" alt="EuAndroid apoia AndroidConf" /></a>
                                    <a href="http://www.novatec.com.br"><img src="{{ STATIC_URL }}img/sponsors/logo-novatec.png" alt="Novatec apoia AndroidConf" /></a>
                                </li>
                            </ul>
                        </li>
                        <li class="last person">
                            <p>organização</p>
                            <ul>
                                <li class="person-column">
                                    <div><span><a href="http://www.twitter.com/tati_alchueyr" id="tati_alchueyr">@tati_alchueyr</a></span></div><br>
                                    <div><span><a href="http://www.twitter.com/andrebco" id="andrebco">@andrebco</a></span></div><br>
                                    <div><span><a href="http://www.twitter.com/diegodukao" id="diegodukao">@diegodukao</a></span></div>
                                </li>
                                <li class="person-column-2">
                                    <div><span><a href="http://www.twitter.com/willenjs" id="willenjs">@willenjs</a></span></div><br>
                                    <div><span><a href="http://www.twitter.com/luciofm" id="luciofm">@luciofm</a></span></div>
                                </li>
                                <li class="person-column">
                                    <div><span><a href="http://www.twitter.com/marlonscarvalho" id="marlonscarvalho">@marlonscarvalho</a></span></div><br>
                                    <div><span><a href="http://www.twitter.com/mcapablanca" id="mcapablanca">@mcapablanca</a></span></div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
