<ul>
    <li class="category">
        <p>patrocínio</p>
        <ul>
            <li class="person">
                <a href="http://globo.com"><img src="/static/img/sponsors/logo-globocom.png" alt="Globo.com patrocina AndroidConf" /></a>
	    </li>
        </ul>
    </li>
    <li class="category">
        <p>apoio</p>
        <ul>
            <li class="person">
                <a href="http://www.ciceromoraes.com.br"><img src="/static/img/sponsors/logo-ciceromoraes.png" alt="Globo.com patrocina AndroidConf" /></a>
            </li>
        </ul>
    </li>
    <li class="category">
        <p>organização</p>
        <ul>
            <li class="last person">
                <div><span><a href="http://www.twitter.com/tati_alchueyr" id="tati_alchueyr">@tati_alchueyr</a></span></div>
                <div><span><a href="http://www.twitter.com/andrebco" id="andrebco">@andrebco</a></span></div>
                <div><span><a href="http://www.twitter.com/diegodukao" id="diegodukao">@diegodukao</a></span></div>
                <div><span><a href="http://www.twitter.com/willenjs" id="willenjs">@willenjs</a></span></div>
            </li>
        </ul>
    </li>
</ul>
