{% extends "base.html" %}

        {% block content %}
        <article>
            <h2>conferência brasileira de android</h2>
            <p>Você gosta de desenvolvimento mobile e de software livre? Então
            venha participar da <strong><span>AndroidConf
                    Brasil</span></strong> e encontre alguns dos melhores
            desenvolvedores de Android do país!</p>
            <p>A conferência será composta por <strong>palestras</strong> (<i>key-notes</i>), <strong>mini-palestras</strong>, <strong><i>lightning talks</i></strong> (palestras relâmpago) e até mesmo um <strong><i>Coding Dojo</i></strong> utilizando a plataforma Android.</p>
            <p>Dentre os temas do evento, serão tratados:</p>
            <ul>
                <li>Desenvolvimento de apps para Android</li>
                <li>Ferramentas de desenvolvimento para Android</li>
                <li>Desenvolvimento de jogos</li>
                <li>Integração do Android a eletrônicos</li>
                <li>Android no mercado nacional e internacional</li>
            </ul>
            <p>Além de diversos outros... <strong>Aguarde mais novidades!</strong></p>
        </article>
        {% endblock content %}




