{% extends "base.html" %}

        {% block content %}
        <article>
            <h2>conferência brasileira de android</h2>
            <p>Você gosta de desenvolvimento mobile e de software livre? Então venha participar do <strong><span>AndroidConf Brasil</span></strong>!</p>
            <p>A conferência será composta por <strong>palestras</strong> (key-notes), <strong>mini-palestras</strong>, <strong>lightning talks</strong> (palestras relâmpago) e até mesmo um <strong>Coding Dojo</strong> utilizando a plataforma Android.</p>
            <p>Dentre os temas do evento, serão tratados:</p>
            <ul>
                <li><strong>Desenvolvimento de aplicações</strong> para Android</li>
                <li><strong>Ferramentas de Desenvolvimento</strong> para Android</li>
                <li><strong>Android no Mercado Nacional</strong> e Internacional</li>
            </ul>
            <p>além de diversos outros..!</p>
            <p><strong>Aguarde mais novidades!</strong></p>
        </article>
        {% endblock content %}

