{% extends "base.html" %}

        {% block content %}
        <article class="map">
            {% include "social.html" %}
            <h2>localização</h2>
            <p>Rio de Janeiro - RJ</p>
            <!-- Google Maps Element Code -->
            {# http://www.google.com/webelements/#!/maps #}
            <iframe frameborder=0 marginwidth=0 marginheight=0 border=0 style="border:0;margin:0;width:500px;height:250px;" src="http://www.google.com/uds/modules/elements/mapselement/iframe.html?maptype=roadmap&latlng=-22.40087159030595%2C-43.22021484375&mlatlng=-22.903539%2C-43.209587&maddress1=Rio%20de%20Janeiro&maddress2=Brazil&zoom=7&mtitle=AndroidConf&element=true" scrolling="no" allowtransparency="true"></iframe>

        </article>

        {% endblock content %}


