{% extends "base.html" %}

        {% block content %}
        <article class="map">
            <h2>localização</h2>
            <p>Città América - Bloco 7 <br>
            Av. das Américas 700 - Barra da Tijuca <br>
            Rio de Janeiro - RJ (22.640-100)</p>
        <!-- Google Maps Element Code -->
<iframe frameborder=0 marginwidth=0 marginheight=0 border=0
    style="border:0;margin:0;width:500px;height:250px;" src="http://www.google.com/uds/modules/elements/mapselement/iframe.html?maptype=roadmap&latlng=-22.900213341547964%2C-43.320465087890625&mlatlng=-23.002229%2C-43.319929&maddress1=Av.%20das%20Am%C3%A9ricas%2C%20700%20-%20Barra%20da%20Tijuca&maddress2=Rio%20de%20Janeiro%20-%20RJ%2C%2022640-100%2C%20Brazil&zoom=10&mtitle=AndroidConf%20-%20Citt%C3%A0%20Am%C3%A9rica%20-%20Bloco%207&element=true" scrolling="no" allowtransparency="true"></iframe>

        </article>

        {% endblock content %}


