{% extends "base.html" %}
{% block aside %}
{% include "sidebar-without-subscribe.html" %}
{% endblock aside %}
        {% block content %}
            <article>
{% include "social.html" %}
                <h2>garanta a sua vaga</h2>
                <p>A taxa de inscrição do primeiro lote para AndroidConf 2011 é de <strong>R$ 100,00</strong> e dá direito ao participante:</p>
                <ul>
                    <li>Participar da AndroidConf 2011</li>
                    <li>Receber material do participante (incluindo camiseta)</li>
                    <li>Coffee break</li>
                    <li>Almoço no Windsor Flórida (inclusa uma bebida não alcoólica)</li>
                </ul>
                <p><strong>
                Em apenas uma semana, as 120 vagas da AndroidConf 2011 se esgotaram!</strong>
                Enviamos emails para todos os participantes, confirmando a inscrição. </p>
                <p><strong>Quer participar da AndroidConf? Entre para a
                    <span>  Lista de Espera</span>*</strong>, escrevendo para
                    <strong>contato</strong> <i>arroba</i> <strong>androidconf.com.br</strong>.</p>
                <p>* Devido a grande procura, a organização está buscando alternativas para aumentar
                o número de vagas, sem comprometer a qualidade do evento. Se você tem interesse em participar
                da AndroidConf, mas não pagou a inscrição ainda, entre em contato.</p>
            </article>


        {% endblock content %}




