<div>
    <p><span id="countdown-days">00</span>:<span id="countdown-hours">00</span>:<span id="countdown-minutes">00</span>:<span id="countdown-seconds">00</span></p>
    <p><span class="label">dias</span> <span class="label">horas</span> <span class="label">mins</span> <span class="label">segs</span></p>
</div>



<script type="text/javascript">

    function Countdown(then) {
     
	    this.then = then;
	    
	    function setElement(id, value) {
		    value = (value < 10) ? "0" + value: + value;
		    window.document.getElementById(id).innerHTML = value;
	    }
	    
	    function countdown() {
		    now  		  = new Date();
		    diff		  = new Date(this.then - now);
		    
		    seconds_left  = Math.floor(diff.valueOf() / 1000);
	    
		    seconds  = Math.floor(seconds_left / 1) % 60;
		    minutes  = Math.floor(seconds_left / 60) % 60;
		    hours    = Math.floor(seconds_left / 3600) % 24;
		    days     = Math.floor(seconds_left / 86400) % 86400;
		    
		    setElement('countdown-days', days);
		    setElement('countdown-hours', hours);
		    setElement('countdown-minutes', minutes);
		    setElement('countdown-seconds', seconds);
		    
		    countdown.timer = setTimeout(countdown, 1000);
	    }
	    
		    
	    function start() {
		    this.timer = setTimeout(countdown, 1000);
	    }
	    
	    start(then);	
     }
     
     Countdown(new Date("Nov 26 2011 08:00:00"));


</script>




