                <div class="sidebar">
                  <p>.</p>
                  <div class="countdown" id="conference-running">
                    O evento está rolando!
                  </div>
                  <div class="countdown" id="conference-finished">
                    O evento já rolou!
                  </div>
                  <div class="countdown" id="countdown">
                       <ul>
                          <li>
                            <div class="digits">
                              <span id="countdown-days">00</span>:
                            </div>
                              <div class="digits-label">dias </div>
                          </li>
                          <li>
                            <div class="digits">
                              <span id="countdown-hours">00</span>:
                            </div>
                              <div class="digits-label">horas </div>
                          </li>
                          <li>
                            <div class="digits">
                              <span id="countdown-minutes">00</span>:
                            </div>
                              <div class="digits-label">mins </div>
                          </li>
                          <li>
                              <div class="digits" id="countdown-seconds">00</div>
                              <div class="digits-label">segs</div>
                          </li>
                      </ul>
                  </div>

                    <div id="twitter">
                        <img class="androidbird" src="/static/img/twitter-android.png" alt="Tweeter Android" />
                        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
                        <script>
                            new TWTR.Widget({
                                version: 2,
                                type: 'profile',
                                rpp: 1,
                                interval: 30000,
                                width: 'auto',
                                height: 100,
                                theme: {
                                shell: {
                                    background: '#ffffff',
                                    color: '#90c558'
                                },
                                tweets: {
                                    background: '#ffffff',
                                    color: '#535353',
                                    links: '#90c558'
                                }
                                },
                                features: {
                                scrollbar: false,
                                loop: false,
                                live: true,
                                hashtags: true,
                                timestamp: true,
                                avatars: false,
                                behavior: 'all'
                                }
                            }).render().setUser('androidconf').start();
                          </script>
                          <script type="text/javascript"
                                  src="{{ STATIC_URL }}js/countdown.js"></script>
                    </div>
                    <div class="social">
                        <a href="# id="twitter""></a>
                    </div>
                </div>
