{% extends "base.html" %}
{% block aside %}
{% include "sidebar-without-subscribe.html" %}
{% endblock aside %}
        {% block content %}
            <article>
{% include "social.html" %}
                <h2>inscrição paga com sucesso!</h2>
                <p>Agradecemos pelo pagamento da taxa de inscrição da AndroidConf 2011!</p>
                <p>Sua transação foi concluída com sucesso e o recibo da sua compra foi enviado por email, via PayPal. Você pode logar na sua conta no <a href="http://www.paypal.com/br">www.paypal.com/br</a> para visualizar os detalhes da transação.</p>
            </article>
        {% endblock content %}




